<div id="map">

</div>

<script>
var map = L.mapbox.map('map', 'zstayman.hn1a3ih4');
var geocoder = L.mapbox.geocoder('zstayman.hn1a3ih4');




var dropPin = function(ignore, data){
  L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
      type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats

        coordinates: [data.latlng[1], data.latlng[0]]
      },
      properties: {
        title: 'A Single Marker',
        description: 'Just one of me',
        // one can customize markers by adding simplestyle properties
        // http://mapbox.com/developers/simplestyle/
        'marker-size': 'small',
        'marker-color': '#5999E8'
      }
    }).addTo(map);
};

geocoder.query("alabama", dropPin);
</script>
