@import url(http://fonts.googleapis.com/css?family=Days+One);

#map {
  height: 600px;
  width: 65%;
  margin-left: 17.5%;
  /*display: inline-block;*/
}

body {
  min-height: 100%;
  min-width: 100%;
}

#title {
  text-align: center;
  font-family: "Days One" sans-serif;
  font-size: 50px;
}

.legend {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 48%;
  margin-left: 0;
  float: left;
}

form {
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  height: 90px;
  width: 48%;
  margin-right: 0;
  float: right;
}

.container{
  width: 65%;
  margin: 0 auto;
}
